<link rel="stylesheet" href="/css/post.css"/>
{{#if post}}
  <section class="container">
    <img id="post-image" src="http://localhost:8080/image?url={{post.image}}" />
    <h3>{{post.title}}</h3>
    <h5>{{post.summary}}</h5>
    <p>{{post.author}}</p>
    <span id="db-str">{{post.content}}</span>
    <div id="content"></div>
    <script>
      const content = document.getElementById("content")
      const html = documet.getElementById("db-str").text
      console.log("test")
      content.innerHTML = html
    </script>
  </section>
{{else}}
  <p>Post not found</p>
{{/if}}